body,
html {
  padding: 0;
  margin: 0;
  background-color: #005274;
  height: 100%;
  width: 100%;
  /*background-image: url("/web/imgs/hex.png");*/
}

.heximgs {
  width: 60px;
}

#ChatHolder {
  padding: 20px;
}

#Chat {
  position: absolute;
  height: 90%;
  width: calc(100% - 30px);
  overflow-y: auto;
}

#ShowCase {
  display: block;
  width: 75%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
}
